.header {
    margin-left: 2rem;
    margin-bottom: 4rem;
    font-size: 3rem;
    font-family: 'Roboto Mono', monospace;
}

.nav-menu {
    /* font-family: 'Cormorant Garamond', 'serif'; */
    font-family: 'Open Sans', sans-serif;
    margin-left: 2rem;
    font-size: 9rem;
    line-height: 90%;
}

.nav-item {
    color: black;
    text-decoration: none;
    margin-bottom: 0rem;
}

.nav-item:hover {
    text-decoration: line-through;
    font-style: italic;
}