.header {
    margin-left: 2rem;
    margin-bottom: 4rem;
    font-size: 3rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
}

.nav-menu {
    font-family: 'Open Sans', sans-serif;
    margin-left: 2rem;
    font-size: 12rem;
    line-height: 90%;
}

.nav-menu-small {
    font-size: 9rem;
}

.nav-item {
    text-decoration: none;
    margin-bottom: 0rem;
}

.nav-item:hover {
    text-decoration: line-through;
    font-style: italic;
}

a {
    color: black;
}