* {
    font-family: 'Cormorant Garamond', 'serif';
}

.name {
    margin-left: 2rem;
    margin-bottom: 4rem;
    font-size: 3rem;
    font-family: 'Roboto Mono', monospace;
}

.nav-menu {
    margin-left: 2rem;
    font-size: 14rem;
    line-height: 85%;
}

.nav-link {
    color: black;
    text-decoration: none;
    margin-bottom: 0rem;
}

.nav-link:hover {
    text-decoration: line-through;
    font-style: italic;
}