.title {
	text-align: center;
}

.name {
	text-align: center;
}

.output {
	display: inline-block;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.demo {
	width: 600px;
}

.demo2 {
	width: 375px;
}

.demo3 {
	width: 500px;
}