.title {
	text-align: center;
}

.name {
	text-align: center;
}

.output {
	display: inline-block;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.demo {
	height: 350px;
}

.demo2 {
	height: 100px;
}

.demo3 {
	width: 400px;
}

.demo4 {
	height: 250px;
}

.demo5 {
	height: 300px;
}